ul {
	list-style: none;
}
a {
	text-decoration: none;
}

/* Colors
===================== */

$brown-color: #D5B178;
$btn-color: #770F07;
$btn-text: #FCD144;
$purple-btn: #A420BD;



 body {
 	max-width: 90%;
 	margin: 0 auto;
 	background-color: $brown-color;
 }

 .main-content {
 	max-width: 80%;
 	margin: 30px auto;
 	text-align: center; 
 }

 .main-content::before {
 	content: "";
 	display: table;
 	clear: both;
 }

 .btn {
 	float: left;
 	padding: 15px;
 	background-color: $purple-btn;
 	color: white;
 	border-radius: 10px;
 	font-size: 20px;
 	margin: 5px;
 	&:hover{
 		background-color: lighten($purple-btn, 5%);
 	}
 }

 .game-btn {
 	background-color: $btn-color;
 	&:hover{
 		background-color: lighten($btn-color, 5%);
 	}
 }

.deck_list::before,
.form_container::before {
 	content: "";
 	display: table;
 	clear: both;
 }

 .message {
 	display: inline-block;
 	border: 2px solid black;
 	padding: 15px;
 	margin: 15px;
 }

 

 .display_data {
 	border-collapse: collapse;
 	font-size: 18px;
 	td, tr, th {
 		border: 1px solid black;
 		padding: 10px;
 	}
 }

